{#src/Templates/Salary/add.html.twig#}

{% extends 'base.html.twig' %}

{% block body %}
<div>
    <h1 class="page-header">Employé ajouté !</h1>
    <ul>
        <li>nom: {{Employee.name}}</li>
        <li>Prénom: {{Employee.firstname}}</li>
        <li>Poste: {{Employee.occupation}}</li>
        <li>Salaire: {{Employee.salary}} $</li>
        <li>Bonus: {{Employee.bonus}}$</li>
    </ul>
</div>
{% endblock %}